src/accounts.jade
doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Аккаунты
					
					.navbar-left
						.btn.navbar-btn.btn-sm.btn-success.btn-outline <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content
					.app-scroller.mCustomScrollbar(data-mcs-theme="minimal-dark")
						
						.accounts-panel
							.account
								.messenger-type.mt-telegram <span class="fa fa-whatsapp"></span> Telegram
								.account-body
									.ab-status <span class="label label-success">Активный</span>
									.ab-id 996 700 216677
									.ab-name Test_O
									.row.ab-dates
										.col-xs-6
											label Created
											p 12 Dec 2015
										.col-xs-6
											label Modified
											p 06 Jan 2016
							.account
								.messenger-type.mt-whatsapp <span class="fa fa-whatsapp"></span> WhatsApp
								.account-body
									.ab-status <span class="label label-success">Активный</span>
									.ab-id 996 700 216677
									.ab-name Test_O
									.row.ab-dates
										.col-xs-6
											label Created
											p 12 Dec 2015
										.col-xs-6
											label Modified
											p 06 Jan 2016
											
							.account
								.messenger-type.mt-telegram <span class="fa fa-whatsapp"></span> Telegram
								.account-body
									.ab-status <span class="label label-danger">Заблокированный</span>
									.ab-id 996 700 216677
									.ab-name Test_O
									.row.ab-dates
										.col-xs-6
											label Created
											p 12 Dec 2015
										.col-xs-6
											label Modified
											p 06 Jan 2016
							a(href="#").add-account <span class="fa fa-plus"></span> Добавить аккаунт...

accounts.html
<!DOCTYPE html>
<html>
  <head>
    <title>Onlchat</title><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/open-iconic-bootstrap.min.css" type="text/css" rel="stylesheet">
    <!--link(href="assets/css/bootstrap-theme.css" rel="stylesheet")-->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <!-- Switchery-->
    <link href="assets/libs/switchery/switchery.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/switchery/switchery.min.js" type="text/javascript"></script><link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- mCustomScrollbar-->
    <link href="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.js" type="text/javascript"></script>
    <!-- fa--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand"><img src="assets/images/logo.png" alt="onlchat"></a></div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--form.navbar-form.navbar-left(role="search")
          .form-group
          	input(type="text" placeholder="Find in contacts...").form-control
          button(type="submit").btn.btn-default Go
          
          -->
          <div class="navbar-left">
            <h4 class="navbar-text">Аккаунты</h4>
          </div>
          <div class="navbar-left">
            <div class="btn navbar-btn btn-sm btn-success btn-outline"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить</div>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Mark Otto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Профиль</a></li>
                  <li><a href="#">Настройки</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Профиль</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="app-sidebar">
          <div class="nav nav-sidebar">
            <li><a href="chats.html"><span class="oi oi-chat" aria-hidden="true"></span> Чаты</a></li>
            <li><a href="contacts.html"><span class="oi oi-people" aria-hidden="true"></span> Контакты</a></li>
            <li><a href="index.html"><span class="oi oi-folder" aria-hidden="true"></span> Архив</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="info.html"><span class="oi oi-info" aria-hidden="true"></span> Основное</a></li>
            <li><a href="users.html"><span class="oi oi-people" aria-hidden="true"></span> Пользователи</a></li>
            <li><a href="quickanswers.html"><span class="oi oi-book" aria-hidden="true"></span>  Готовые ответы</a></li>
            <li><a href="dialogs.html"><span class="oi oi-script" aria-hidden="true"></span>  Диалоги</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="settings.html"><span class="oi oi-wrench" aria-hidden="true"></span>  Настройки</a></li>
            <li><a href="analytics.html"><span class="oi oi-bar-chart" aria-hidden="true"></span>  Статистика</a>
              <ul class="nav nav-second-level collapse">
                <li><a href="#">Second level</a></li>
              </ul>
            </li>
          </div>
        </div>
        <div class="app-content">
          <div data-mcs-theme="minimal-dark" class="app-scroller mCustomScrollbar">
            <div class="accounts-panel">
              <div class="account">
                <div class="messenger-type mt-telegram"><span class="fa fa-whatsapp"></span> Telegram</div>
                <div class="account-body">
                  <div class="ab-status"><span class="label label-success">Активный</span></div>
                  <div class="ab-id">996 700 216677</div>
                  <div class="ab-name">Test_O</div>
                  <div class="row ab-dates">
                    <div class="col-xs-6">
                      <label>Created</label>
                      <p>12 Dec 2015</p>
                    </div>
                    <div class="col-xs-6">
                      <label>Modified</label>
                      <p>06 Jan 2016</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="account">
                <div class="messenger-type mt-whatsapp"><span class="fa fa-whatsapp"></span> WhatsApp</div>
                <div class="account-body">
                  <div class="ab-status"><span class="label label-success">Активный</span></div>
                  <div class="ab-id">996 700 216677</div>
                  <div class="ab-name">Test_O</div>
                  <div class="row ab-dates">
                    <div class="col-xs-6">
                      <label>Created</label>
                      <p>12 Dec 2015</p>
                    </div>
                    <div class="col-xs-6">
                      <label>Modified</label>
                      <p>06 Jan 2016</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="account">
                <div class="messenger-type mt-telegram"><span class="fa fa-whatsapp"></span> Telegram</div>
                <div class="account-body">
                  <div class="ab-status"><span class="label label-danger">Заблокированный</span></div>
                  <div class="ab-id">996 700 216677</div>
                  <div class="ab-name">Test_O</div>
                  <div class="row ab-dates">
                    <div class="col-xs-6">
                      <label>Created</label>
                      <p>12 Dec 2015</p>
                    </div>
                    <div class="col-xs-6">
                      <label>Modified</label>
                      <p>06 Jan 2016</p>
                    </div>
                  </div>
                </div>
              </div><a href="#" class="add-account"><span class="fa fa-plus"></span> Добавить аккаунт...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
