contacts.html
<!DOCTYPE html>
<html>
  <head>
    <title>Onlchat</title><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/open-iconic-bootstrap.min.css" type="text/css" rel="stylesheet">
    <!--link(href="assets/css/bootstrap-theme.css" rel="stylesheet")-->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <!-- Switchery-->
    <link href="assets/libs/switchery/switchery.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/switchery/switchery.min.js" type="text/javascript"></script><link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- mCustomScrollbar-->
    <link href="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.js" type="text/javascript"></script>
    <!-- fa--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand"><img src="assets/images/logo.png" alt="onlchat"></a></div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="row">
            <div class="col-sm-3 app-leftlist-search">
              <input type="text" placeholder="Поиск в контактах..." class="form-control">
            </div>
            <div class="col-sm-9">
              <div class="navbar-left">
                <h4 class="navbar-text">Контакты</h4>
              </div>
              <div class="navbar-left">
                <div data-toggle="modal" data-target="#modal-add-contact" class="btn navbar-btn btn-success btn-outline"><i class="fa fa-plus"></i> Добавить</div>
                <div data-toggle="modal" data-target="#modal-import" class="btn navbar-btn btn-default btn-outline"><i class="fa fa-download"></i> Импорт</div>
              </div>
              <div class="navbar-right">
                <ul class="nav navbar-nav">
                  <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><span class="status status-online"></span> ONLChat <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Профиль</a></li>
                      <li><a href="#">Настройки</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Профиль</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="app-sidebar">
          <div class="nav nav-sidebar">
            <li><a href="chats.html"><span class="oi oi-chat" aria-hidden="true"></span> Чаты</a></li>
            <li><a href="contacts.html"><span class="oi oi-people" aria-hidden="true"></span> Контакты</a></li>
            <li><a href="index.html"><span class="oi oi-folder" aria-hidden="true"></span> Архив</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="info.html"><span class="oi oi-info" aria-hidden="true"></span> Основное</a></li>
            <li><a href="users.html"><span class="oi oi-people" aria-hidden="true"></span> Пользователи</a></li>
            <li><a href="quickanswers.html"><span class="oi oi-book" aria-hidden="true"></span>  Готовые ответы</a></li>
            <li><a href="dialogs.html"><span class="oi oi-script" aria-hidden="true"></span>  Диалоги</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="settings.html"><span class="oi oi-wrench" aria-hidden="true"></span>  Настройки</a></li>
            <li><a href="analytics.html"><span class="oi oi-bar-chart" aria-hidden="true"></span>  Статистика</a>
              <ul class="nav nav-second-level collapse">
                <li><a href="#">Second level</a></li>
              </ul>
            </li>
          </div>
        </div>
        <div class="app-content">
          <div class="row">
            <div class="col-sm-3">
              <div data-mcs-theme="minimal-dark" class="app-leftlist list-group mCustomScrollbar">
                <div class="letter">A</div><a class="list-group-item active">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Поляков Дмитрий Валерьевич</h4><small>8 (933) 387-50-52</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Абрамова Эвелина </h4><small>8 (913) 855-56-17</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/men/3.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Львов Аскольд</h4><small>8 (902) 441-42-66</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/men/4.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Комаров Степан Станиславович</h4><small>8 (954) 435-14-18</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/5.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Кузьмина Саломея Романовна </h4><small>8 (921) 864-50-14</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/6.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Ушакова Тереза Егоровна </h4><small>8 (914) 816-68-27</small>
                    </div>
                  </div></a>
                <div class="letter">B</div><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/men/7.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Трифонов Парфен Богданович</h4><small>8 (923) 210-89-15</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/8.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Голубева Фатина Валентиновна </h4><small>8 (952) 657-62-38</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/9.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Наумова Аглая Николаевна </h4><small>8 (903) 430-46-41</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/22.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Тарская Харитина Федоровна</h4><small>8 (940) 753-29-82</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/32.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Охота Ганна Ярославовна</h4><small>8 (944) 465-26-73</small>
                    </div>
                  </div></a>
                <div class="letter">C</div><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/men/52.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Лапин Галактион Валерьевич</h4><small>8 (915) 410-52-56</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/women/25.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Кузьмина Октябрина Станиславовна </h4><small>8 (950) 454-67-32</small>
                    </div>
                  </div></a><a class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-away"><img src="https://randomuser.me/api/portraits/men/23.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Лютов Денис Олегович</h4><small>8 (906) 338-19-60</small>
                    </div>
                  </div></a>
              </div>
            </div>
            <div class="col-sm-7">
              <div data-mcs-theme="minimal-dark" class="app-pane mCustomScrollbar">
                <div class="page-header">
                  <h1 class="pull-left">Alica Mcgavock</h1>
                  <div class="pull-right buttons">
                    <div class="btn btn-default btn-outline btn-sm"><i class="fa fa-comment-o"></i> Диалог</div>
                    <div class="btn btn-danger btn-outline btn-sm"><i class="fa fa-trash-o"></i> Удалить контакт</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel contacts-statistics">
                  <div class="panel-heading">
                    <div class="panel-title">Статистика</div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <h5>Сообщения</h5>
                        <div class="row">
                          <div class="col-xs-8">
                            <table class="table">
                              <tr>
                                <td class="title">Всего</td>
                                <td class="val">26</td>
                              </tr>
                              <tr>
                                <td class="title">Входящие</td>
                                <td class="val">12</td>
                              </tr>
                              <tr>
                                <td class="title">Исходящие</td>
                                <td class="val">14</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h5>Диалоги</h5>
                        <div class="row">
                          <div class="col-xs-8">
                            <table class="table">
                              <tr>
                                <td class="title">Всего</td>
                                <td class="val">1</td>
                              </tr>
                              <tr>
                                <td class="title">Открыт</td>
                                <td class="val">1</td>
                              </tr>
                              <tr>
                                <td class="title">Закрыто</td>
                                <td class="val">0</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="last-message">
                      <h5>Последнее сообщение</h5>
                      <p>As with contextual colors, ensure that any meaning conveyed through color is also conveyed in a format that is not purely presentational.</p>
                      <div class="small">2016-01-22 16:28:33</div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <div class="panel-title">Каналы коммуникации</div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <h5>Мессенджеры</h5>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon social-icon"><i class="fa fa-phone"></i></div>
                            <input type="text" value="+996 555 55 99 32" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon social-icon"><i class="fa fa-whatsapp"></i></div>
                            <input type="text" value="+996 555 55 99 32" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon social-icon"><i class="fa fa-skype"></i></div>
                            <input type="text" value="+996 555 55 99 32" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <h5>Социальные сети</h5>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon social-icon"><i class="fa fa-facebook"></i></div>
                            <input type="text" placeholder="Добавить..." class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon social-icon"><i class="fa fa-vk"></i></div>
                            <input type="text" placeholder="Добавить..." class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon social-icon"><i class="fa fa-odnoklassniki"></i></div>
                            <input type="text" placeholder="Добавить..." class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon social-icon"><i class="fa fa-instagram"></i></div>
                            <input type="text" value="@instagram" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div data-mcs-theme="minimal-dark" class="app-sidebar-right mCustomScrollbar">
                <div class="client-extra">
                  <div class="avatar"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                  <fieldset>
                    <h2 class="client-name">Alica Mcgavoock</h2>
                    <div class="small">Age 33, Female</div>
                    <div class="small">+1 234 567 1234</div>
                    <div class="btn-edit"><span class="glyphicon glyphicon-edit"></span></div>
                  </fieldset>
                  <hr>
                  <fieldset>
                    <label>Компания</label>
                    <div class="value">Alica</div>
                    <div class="btn-edit"><span class="glyphicon glyphicon-edit"></span></div>
                  </fieldset>
                  <fieldset>
                    <label>Дата рождения</label>
                    <div class="value">18 декабря 1978</div>
                    <div class="btn-edit"><span class="glyphicon glyphicon-edit"></span></div>
                  </fieldset>
                  <hr>
                  <fieldset>
                    <label>Адрес</label>
                    <div class="value">Москва, Россия</div>
                    <div class="btn-edit"><span class="glyphicon glyphicon-edit"></span></div>
                  </fieldset>
                  <fieldset>
                    <label>Тариф</label>
                    <div class="value">Стандарт</div>
                    <div class="btn-edit"><span class="glyphicon glyphicon-edit"></span></div>
                  </fieldset>
                  <fieldset>
                    <label>Тип клиента</label>
                    <div class="value">Корпоратив</div>
                    <div class="btn-edit"><span class="glyphicon glyphicon-edit"></span></div>
                  </fieldset>
                  <hr>
                  <fieldset>
                    <label>Комментарии</label>
                    <div class="value">Добавить...</div>
                    <div class="btn-edit"><span class="glyphicon glyphicon-edit"></span></div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add contact Modal-->
    <div id="modal-add-contact" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Добавить новый контакт</h4>
            <button type="button" data-dismiss="modal" class="close"><span>&times;</span></button>
            <div class="clearfix"></div>
            <div class="row modal-header-form">
              <div class="col-sm-4">
                <button class="upload-avatar">Загрузить фото...</button>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="control-label">Имя</label>
                  <input type="email" placeholder="Введите имя..." class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">Телефон</label>
                  <input type="email" placeholder="Введите телефон..." class="form-control"><small>WhatsApp Phone number (including country code e.g. 154722123456)</small>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Дата рождения</label>
                <div class="col-sm-7">
                  <input type="email" placeholder="Открыть календарь..." class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Компания</label>
                <div class="col-sm-7">
                  <input type="email" placeholder="Компания..." class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Адрес</label>
                <div class="col-sm-7">
                  <input type="email" placeholder="Адрес..." class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Тарифный план</label>
                <div class="col-sm-7">
                  <input type="email" placeholder="Тарифный план..." class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Тип абонентов</label>
                <div class="col-sm-7">
                  <input type="email" placeholder="Тип абонентов..." class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Комментарии</label>
                <div class="col-sm-7">
                  <textarea placeholder="Комментарии..." class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary">Добавить контакт</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Import Contacts Modal-->
    <div id="modal-import" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Импорт</h4>
            <button type="button" data-dismiss="modal" class="close"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Файл</label>
                <div class="col-sm-8">
                  <button type="button" class="btn btn-default">Выбрать файл...</button>
                  <p><small>Формат файла .csv в кодировке UTF-8 без BOM</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary">Импортировать</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/contacts.jade
doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					.row
						.col-sm-3.app-leftlist-search
							input(type="text" placeholder="Поиск в контактах...").form-control
							
						.col-sm-9
							.navbar-left
								h4.navbar-text Контакты
							
							.navbar-left
								.btn.navbar-btn.btn-success.btn-outline(data-toggle="modal" data-target="#modal-add-contact") <i class="fa fa-plus"></i> Добавить
								.btn.navbar-btn.btn-default.btn-outline(data-toggle="modal" data-target="#modal-import") <i class="fa fa-download"></i> Импорт
							
							.navbar-right
								ul.nav.navbar-nav
									li.dropdown
										a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle <span class="status status-online"></span> ONLChat <span class="caret"></span>
										ul.dropdown-menu
											li: a(href="#") Профиль
											li: a(href="#") Настройки
											li.divider
											li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content
					.row
						.col-sm-3
							.app-leftlist.list-group.mCustomScrollbar(data-mcs-theme="minimal-dark")
								.letter A
								a.list-group-item.active
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Поляков Дмитрий Валерьевич
											small 8 (933) 387-50-52
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/2.jpg" alt="")
										.media-body
											h4.media-heading Абрамова Эвелина 
											small 8 (913) 855-56-17
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/3.jpg" alt="")
										.media-body
											h4.media-heading Львов Аскольд
											small 8 (902) 441-42-66
								
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/4.jpg" alt="")
										.media-body
											h4.media-heading Комаров Степан Станиславович
											small 8 (954) 435-14-18
								
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/5.jpg" alt="")
										.media-body
											h4.media-heading Кузьмина Саломея Романовна 
											small 8 (921) 864-50-14
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/6.jpg" alt="")
										.media-body
											h4.media-heading Ушакова Тереза Егоровна 
											small 8 (914) 816-68-27
										
								.letter B
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/7.jpg" alt="")
										.media-body
											h4.media-heading Трифонов Парфен Богданович
											small 8 (923) 210-89-15
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/8.jpg" alt="")
										.media-body
											h4.media-heading Голубева Фатина Валентиновна 
											small 8 (952) 657-62-38
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/9.jpg" alt="")
										.media-body
											h4.media-heading Наумова Аглая Николаевна 
											small 8 (903) 430-46-41
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/22.jpg" alt="")
										.media-body
											h4.media-heading Тарская Харитина Федоровна
											small 8 (940) 753-29-82
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/32.jpg" alt="")
										.media-body
											h4.media-heading Охота Ганна Ярославовна
											small 8 (944) 465-26-73
								.letter C
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/52.jpg" alt="")
										.media-body
											h4.media-heading Лапин Галактион Валерьевич
											small 8 (915) 410-52-56
											
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/women/25.jpg" alt="")
										.media-body
											h4.media-heading Кузьмина Октябрина Станиславовна 
											small 8 (950) 454-67-32
								
								a.list-group-item
									.media
										.media-left
											.avatar.avatar-away
												img(src="https://randomuser.me/api/portraits/men/23.jpg" alt="")
										.media-body
											h4.media-heading Лютов Денис Олегович
											small 8 (906) 338-19-60
											
						.col-sm-7
							.app-pane.mCustomScrollbar(data-mcs-theme="minimal-dark")
								.page-header
									h1.pull-left Alica Mcgavock
									.pull-right.buttons
										.btn.btn-default.btn-outline.btn-sm <i class="fa fa-comment-o"></i> Диалог
										.btn.btn-danger.btn-outline.btn-sm <i class="fa fa-trash-o"></i> Удалить контакт
									.clearfix
										
								.panel.contacts-statistics
									.panel-heading
										.panel-title Статистика
									.panel-body
										.row
											.col-sm-6
												h5 Сообщения
												.row
													.col-xs-8
														table.table
															tr
																td.title Всего
																td.val 26
															tr
																td.title Входящие
																td.val 12
															tr
																td.title Исходящие
																td.val 14
											.col-sm-6
												h5 Диалоги
												.row
													.col-xs-8
														table.table
															tr
																td.title Всего
																td.val 1
															tr
																td.title Открыт
																td.val 1
															tr
																td.title Закрыто
																td.val 0
										hr
										
										.last-message
											h5 Последнее сообщение
											p As with contextual colors, ensure that any meaning conveyed through color is also conveyed in a format that is not purely presentational.
											.small 2016-01-22 16:28:33
												
									
									
								.panel
									.panel-heading
										.panel-title Каналы коммуникации
									.panel-body
										.row
											.col-sm-6
												h5 Мессенджеры
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-phone
														input.form-control(type="text" value="+996 555 55 99 32")
											
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-whatsapp
														input.form-control(type="text" value="+996 555 55 99 32")
														
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-skype
														input.form-control(type="text" value="+996 555 55 99 32")
														
														
											.col-sm-6
												h5 Социальные сети
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-facebook
														input.form-control(type="text" placeholder="Добавить...")
														
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-vk
														input.form-control(type="text" placeholder="Добавить...")
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-odnoklassniki
														input.form-control(type="text" placeholder="Добавить...")
														
												.form-group
													.input-group
														.input-group-addon.social-icon: i.fa.fa-instagram
														input.form-control(type="text" value="@instagram")
									
						.col-sm-2
							.app-sidebar-right.mCustomScrollbar(data-mcs-theme="minimal-dark")
								.client-extra
									.avatar
										img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
									
									fieldset
										h2.client-name Alica Mcgavoock
										.small Age 33, Female
										.small +1 234 567 1234
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
									
									hr
									
									fieldset
										label Компания
										.value Alica
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
									
									fieldset
										label Дата рождения
										.value 18 декабря 1978
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
									
									hr
									
									fieldset
										label Адрес
										.value Москва, Россия
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
										
									fieldset
										label Тариф
										.value Стандарт
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
										
									fieldset
										label Тип клиента
										.value Корпоратив
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
							
																		
									hr
									
									fieldset
										label Комментарии
										.value Добавить...
										.btn-edit <span class="glyphicon glyphicon-edit"></span>
										
		// Add contact Modal
		.modal.fade#modal-add-contact
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Добавить новый контакт
						button(type="button" data-dismiss="modal").close: span &times;
						.clearfix
						
						.row.modal-header-form
							.col-sm-4
								button.upload-avatar Загрузить фото...
							.col-sm-7
								.form-group
									label.control-label Имя
									input(type="email" placeholder="Введите имя...").form-control
								.form-group
									label.control-label Телефон
									input(type="email" placeholder="Введите телефон...").form-control
									small WhatsApp Phone number (including country code e.g. 154722123456)

					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Дата рождения
								.col-sm-7
									input(type="email" placeholder="Открыть календарь...").form-control
							.form-group
								label.col-sm-4.control-label Компания
								.col-sm-7
									input(type="email" placeholder="Компания...").form-control
							.form-group
								label.col-sm-4.control-label Адрес
								.col-sm-7
									input(type="email" placeholder="Адрес...").form-control
							.form-group
								label.col-sm-4.control-label Тарифный план
								.col-sm-7
									input(type="email" placeholder="Тарифный план...").form-control
							.form-group
								label.col-sm-4.control-label Тип абонентов
								.col-sm-7
									input(type="email" placeholder="Тип абонентов...").form-control
							.form-group
								label.col-sm-4.control-label Комментарии
								.col-sm-7
									textarea( placeholder="Комментарии...").form-control
						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Добавить контакт
						
		// Import Contacts Modal
		.modal.fade#modal-import
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Импорт
						button(type="button" data-dismiss="modal").close: span &times;
						
					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Файл
								.col-sm-8
									button.btn.btn-default(type="button") Выбрать файл...
									p
										small Формат файла .csv в кодировке UTF-8 без BOM
						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Импортировать
