src/index.jade
doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Архив
					
					.navbar-left
						
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content.app-scroller.mCustomScrollbar(data-mcs-theme="minimal-dark")
					.panel.panel-default
						.panel-heading
							.form-inline
								.btn-group.btn-group-sm
									button(type="button" class="btn btn-default btn-outline active") Все
									button(type="button" class="btn btn-default btn-outline ") Открытые
									button(type="button" class="btn btn-default btn-outline ") Закрытые
							
								.form-group
									.input-group
										input(type="text" placeholder="Поиск").input-sm.form-control
										.input-group-btn
											button(type="submit").btn.btn-default.btn-outline.btn-sm <span class="glyphicon glyphicon-search"></span>
									
								.pull-right
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Экспорт
						
						table.table.table-striped
							tr
								th Статус
								th Сообщений
								th На номер
								th Последнее сообщение
								// th Сообщений
								th Клиент
								th Агент
								
								th 
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
							
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
										
							tr
								td
									<span class="label label-success">Закрыт</span>
								td 213
								td +996 123 123 123
								td
									p Сегодня в 13:33
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading Mary Adams
											small +996 555 435 235
								td
									.media
										.media-left
											.avatar.avatar-sm.avatar-away
												img(src="https://randomuser.me/api/portraits/men/2.jpg" alt="")
										.media-body
											h4.media-heading ONLChat
											small agent_login
								
								td
									.pull-right
										a(href="#").btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть
							
							
						.panel-footer
							.pull-left
								p.table-footer-info Показано 6 из 6 записей.
							.pull-right
									ul.pagination
										li.disabled: a(href="#"): i.fa.fa-angle-left
										li.active: a(href="#") 1
										li: a(href="#") 2
										li: a(href="#") 3
										li: a(href="#"): i.fa.fa-angle-right
							.pull-right
								.form-group.form-inline
									label Показывать по
									select.form-control
										option 10
										option 20
										option 50
										option 100

							.clearfix

index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Onlchat</title><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/open-iconic-bootstrap.min.css" type="text/css" rel="stylesheet">
    <!--link(href="assets/css/bootstrap-theme.css" rel="stylesheet")-->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <!-- Switchery-->
    <link href="assets/libs/switchery/switchery.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/switchery/switchery.min.js" type="text/javascript"></script><link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- mCustomScrollbar-->
    <link href="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.js" type="text/javascript"></script>
    <!-- fa--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand"><img src="assets/images/logo.png" alt="onlchat"></a></div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--form.navbar-form.navbar-left(role="search")
          .form-group
          	input(type="text" placeholder="Find in contacts...").form-control
          button(type="submit").btn.btn-default Go
          
          -->
          <div class="navbar-left">
            <h4 class="navbar-text">Архив</h4>
          </div>
          <div class="navbar-left"></div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Mark Otto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Профиль</a></li>
                  <li><a href="#">Настройки</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Профиль</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="app-sidebar">
          <div class="nav nav-sidebar">
            <li><a href="chats.html"><span class="oi oi-chat" aria-hidden="true"></span> Чаты</a></li>
            <li><a href="contacts.html"><span class="oi oi-people" aria-hidden="true"></span> Контакты</a></li>
            <li><a href="index.html"><span class="oi oi-folder" aria-hidden="true"></span> Архив</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="info.html"><span class="oi oi-info" aria-hidden="true"></span> Основное</a></li>
            <li><a href="users.html"><span class="oi oi-people" aria-hidden="true"></span> Пользователи</a></li>
            <li><a href="quickanswers.html"><span class="oi oi-book" aria-hidden="true"></span>  Готовые ответы</a></li>
            <li><a href="dialogs.html"><span class="oi oi-script" aria-hidden="true"></span>  Диалоги</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="settings.html"><span class="oi oi-wrench" aria-hidden="true"></span>  Настройки</a></li>
            <li><a href="analytics.html"><span class="oi oi-bar-chart" aria-hidden="true"></span>  Статистика</a>
              <ul class="nav nav-second-level collapse">
                <li><a href="#">Second level</a></li>
              </ul>
            </li>
          </div>
        </div>
        <div data-mcs-theme="minimal-dark" class="app-content app-scroller mCustomScrollbar">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="form-inline">
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-default btn-outline active">Все</button>
                  <button type="button" class="btn btn-default btn-outline ">Открытые</button>
                  <button type="button" class="btn btn-default btn-outline ">Закрытые</button>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" placeholder="Поиск" class="input-sm form-control">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default btn-outline btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                  </div>
                </div>
                <div class="pull-right">
                  <button class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать</button>
                  <button class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Экспорт</button>
                </div>
              </div>
            </div>
            <table class="table table-striped">
              <tr>
                <th>Статус</th>
                <th>Сообщений</th>
                <th>На номер</th>
                <th>Последнее сообщение</th>
                <!-- th Сообщений-->
                <th>Клиент</th>
                <th>Агент</th>
                <th> </th>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
              <tr>
                <td><span class="label label-success">Закрыт</span></td>
                <td>213</td>
                <td>+996 123 123 123</td>
                <td>
                  <p>Сегодня в 13:33</p>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Mary Adams</h4><small>+996 555 435 235</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-sm avatar-away"><img src="https://randomuser.me/api/portraits/men/2.jpg" alt=""></div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">ONLChat</h4><small>agent_login</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="pull-right"><a href="#" class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Посмотреть</a></div>
                </td>
              </tr>
            </table>
            <div class="panel-footer">
              <div class="pull-left">
                <p class="table-footer-info">Показано 6 из 6 записей.</p>
              </div>
              <div class="pull-right">
                <ul class="pagination">
                  <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
              <div class="pull-right">
                <div class="form-group form-inline">
                  <label>Показывать по</label>
                  <select class="form-control">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
