settings.html
<!DOCTYPE html>
<html>
  <head>
    <title>Onlchat</title><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/open-iconic-bootstrap.min.css" type="text/css" rel="stylesheet">
    <!--link(href="assets/css/bootstrap-theme.css" rel="stylesheet")-->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <!-- Switchery-->
    <link href="assets/libs/switchery/switchery.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/switchery/switchery.min.js" type="text/javascript"></script><link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- mCustomScrollbar-->
    <link href="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.js" type="text/javascript"></script>
    <!-- fa--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand"><img src="assets/images/logo.png" alt="onlchat"></a></div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--form.navbar-form.navbar-left(role="search")
          .form-group
          	input(type="text" placeholder="Find in contacts...").form-control
          button(type="submit").btn.btn-default Go
          
          -->
          <div class="navbar-left">
            <h4 class="navbar-text">Настройки</h4>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Основные</a></li>
              <li><a href="#">Автоответчик</a></li>
              <li><a href="#">Компания</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="#">Звуки</a></li>
            </ul>
          </div>
          <div class="navbar-left">
            <!-- .btn.navbar-btn.btn-sm <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add-->
            <!-- .btn.navbar-btn.btn-sm <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import-->
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Mark Otto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Профиль</a></li>
                  <li><a href="#">Настройки</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Профиль</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="app-sidebar">
          <div class="nav nav-sidebar">
            <li><a href="chats.html"><span class="oi oi-chat" aria-hidden="true"></span> Чаты</a></li>
            <li><a href="contacts.html"><span class="oi oi-people" aria-hidden="true"></span> Контакты</a></li>
            <li><a href="index.html"><span class="oi oi-folder" aria-hidden="true"></span> Архив</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="info.html"><span class="oi oi-info" aria-hidden="true"></span> Основное</a></li>
            <li><a href="users.html"><span class="oi oi-people" aria-hidden="true"></span> Пользователи</a></li>
            <li><a href="quickanswers.html"><span class="oi oi-book" aria-hidden="true"></span>  Готовые ответы</a></li>
            <li><a href="dialogs.html"><span class="oi oi-script" aria-hidden="true"></span>  Диалоги</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="settings.html"><span class="oi oi-wrench" aria-hidden="true"></span>  Настройки</a></li>
            <li><a href="analytics.html"><span class="oi oi-bar-chart" aria-hidden="true"></span>  Статистика</a>
              <ul class="nav nav-second-level collapse">
                <li><a href="#">Second level</a></li>
              </ul>
            </li>
          </div>
        </div>
        <div class="app-content">
          <div data-mcs-theme="minimal-dark" class="app-scroller mCustomScrollbar">
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-title">Основные</div>
              </div>
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Активные чаты</label>
                    <div class="col-sm-4">
                      <select class="form-control">
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>500</option>
                      </select><small class="notice">Количество активных чатов на одного оператора</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="pull-right">
                  <button type="submit" class="btn btn-default btn-outline">Вернуть как было</button>
                  <button type="submit" class="btn btn-primary">Применить</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <div class="pull-left panel-title">Контакты</div>
              </div>
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Дополнительные поля</label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <input type="text" value="Адрес" class="form-control">
                        <div class="input-group-btn">
                          <div class="btn btn-danger btn-outline">Удалить</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> </label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <input type="text" value="Тарифный план" class="form-control">
                        <div class="input-group-btn">
                          <div class="btn btn-danger btn-outline">Удалить</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> </label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <input type="text" value="Тип абонента" class="form-control">
                        <div class="input-group-btn">
                          <div class="btn btn-danger btn-outline">Удалить</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> </label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <input type="text" placeholder="Введите название..." class="form-control">
                        <div class="input-group-btn">
                          <div class="btn btn-outline btn-primary">Добавить</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="pull-right">
                  <button type="submit" class="btn btn-default btn-outline">Вернуть как было</button>
                  <button type="submit" class="btn btn-primary">Применить</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-title">Автоответчик</div>
              </div>
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Включить автоответчик</label>
                    <div class="col-sm-2">
                      <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Сообщение автоответчика</label>
                    <div class="col-sm-4">
                      <textarea class="form-control"></textarea><small class="notice">Сообщение автоответчика, когда нет операторов в сети.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="pull-right">
                  <button type="submit" class="btn btn-default btn-outline">Вернуть как было</button>
                  <button type="submit" class="btn btn-primary">Применить</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-title">Компания</div>
              </div>
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Название компании</label>
                    <div class="col-sm-4">
                      <input type="text" value="ONLChat" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="pull-right">
                  <button type="submit" class="btn btn-default btn-outline">Вернуть как было</button>
                  <button type="submit" class="btn btn-primary">Применить</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">
                <div class="panel-title">Звуки</div>
              </div>
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Сообщение отправлено</label>
                    <div class="col-sm-4">
                      <select class="form-control">
                        <option>Маримба</option>
                        <option>Тик-так</option>
                        <option>Run</option>
                        <option>Skylake</option>
                        <option>Whisper</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Статус</label>
                    <div class="col-sm-4">
                      <select class="form-control">
                        <option>Маримба</option>
                        <option>Тик-так</option>
                        <option>Run</option>
                        <option>Skylake</option>
                        <option>Whisper</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Новое сообщение</label>
                    <div class="col-sm-4">
                      <select class="form-control">
                        <option>Маримба</option>
                        <option>Тик-так</option>
                        <option>Run</option>
                        <option>Skylake</option>
                        <option>Whisper</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="pull-right">
                  <button type="submit" class="btn btn-default btn-outline">Вернуть как было</button>
                  <button type="submit" class="btn btn-primary">Применить</button>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/settings.jade
doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Настройки
						ul.nav.navbar-nav
							li.active: a(href="#") Основные
							li: a(href="#") Автоответчик
							li: a(href="#") Компания
							li: a(href="#") Контакты
							li: a(href="#") Звуки
					
					.navbar-left
						// .btn.navbar-btn.btn-sm <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
						// .btn.navbar-btn.btn-sm <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content
					.app-scroller.mCustomScrollbar(data-mcs-theme="minimal-dark")
						.panel
							.panel-heading
								.panel-title Основные
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Активные чаты
										.col-sm-4
											select.form-control
												option 10
												option 20
												option 50
												option 100
												option 500
											small.notice Количество активных чатов на одного оператора
									
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
			
						.panel
							.panel-heading
								.pull-left.panel-title Контакты
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Дополнительные поля
										.col-sm-4
											.input-group
												input(type="text" value="Адрес").form-control
												.input-group-btn
													.btn.btn-danger.btn-outline Удалить
									
									.form-group
										label.col-sm-2.control-label 
										.col-sm-4
											.input-group
												input(type="text" value="Тарифный план").form-control
												.input-group-btn
													.btn.btn-danger.btn-outline Удалить
									
									.form-group
										label.col-sm-2.control-label 
										.col-sm-4
											.input-group
												input(type="text" value="Тип абонента").form-control
												.input-group-btn
													.btn.btn-danger.btn-outline Удалить
													
									.form-group
										label.col-sm-2.control-label 
										.col-sm-4
											.input-group
												input(type="text" placeholder="Введите название...").form-control
												.input-group-btn
													.btn.btn-outline.btn-primary Добавить
									
											
												
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
						
						.panel
							.panel-heading
								.panel-title Автоответчик
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Включить автоответчик
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
									.form-group
										label.col-sm-2.control-label Сообщение автоответчика
										.col-sm-4
											textarea.form-control
											small.notice Сообщение автоответчика, когда нет операторов в сети.
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
							
						.panel
							.panel-heading
								.panel-title Компания
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Название компании
										.col-sm-4
											input(type="text" value="ONLChat").form-control
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
								
						.panel
							.panel-heading
								.panel-title Звуки
							.panel-body
								.form-horizontal
									.form-group
										label.col-sm-2.control-label Сообщение отправлено
										.col-sm-4
											select.form-control
												option Маримба
												option Тик-так
												option Run
												option Skylake
												option Whisper
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
									.form-group
										label.col-sm-2.control-label Статус
										.col-sm-4
											select.form-control
												option Маримба
												option Тик-так
												option Run
												option Skylake
												option Whisper
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
									.form-group
										label.col-sm-2.control-label Новое сообщение
										.col-sm-4
											select.form-control
												option Маримба
												option Тик-так
												option Run
												option Skylake
												option Whisper
										.col-sm-2
											input(type="checkbox" data-size="small" data-plugin="switchery" checked)
							.panel-footer
								.pull-right
									button(type="submit").btn.btn-default.btn-outline Вернуть как было
									button(type="submit").btn.btn-primary Применить
								.clearfix
