users.html
<!DOCTYPE html>
<html>
  <head>
    <title>Onlchat</title><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="assets/css/open-iconic-bootstrap.min.css" type="text/css" rel="stylesheet">
    <!--link(href="assets/css/bootstrap-theme.css" rel="stylesheet")-->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="assets/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/main.js" type="text/javascript"></script>
    <!-- Switchery-->
    <link href="assets/libs/switchery/switchery.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/switchery/switchery.min.js" type="text/javascript"></script><link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- mCustomScrollbar-->
    <link href="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet">
    <script src="assets/libs/mcustomscrollbar/jquery.mCustomScrollbar.js" type="text/javascript"></script>
    <!-- fa--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="#" class="navbar-brand"><img src="assets/images/logo.png" alt="onlchat"></a></div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--form.navbar-form.navbar-left(role="search")
          .form-group
          	input(type="text" placeholder="Find in contacts...").form-control
          button(type="submit").btn.btn-default Go
          
          -->
          <div class="navbar-left">
            <h4 class="navbar-text">Пользователи</h4>
          </div>
          <div class="navbar-left">
            <div data-toggle="modal" data-target="#modal-add" class="btn navbar-btn btn-outline btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить</div>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Mark Otto <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Профиль</a></li>
                  <li><a href="#">Настройки</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Профиль</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="app-sidebar">
          <div class="nav nav-sidebar">
            <li><a href="chats.html"><span class="oi oi-chat" aria-hidden="true"></span> Чаты</a></li>
            <li><a href="contacts.html"><span class="oi oi-people" aria-hidden="true"></span> Контакты</a></li>
            <li><a href="index.html"><span class="oi oi-folder" aria-hidden="true"></span> Архив</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="info.html"><span class="oi oi-info" aria-hidden="true"></span> Основное</a></li>
            <li><a href="users.html"><span class="oi oi-people" aria-hidden="true"></span> Пользователи</a></li>
            <li><a href="quickanswers.html"><span class="oi oi-book" aria-hidden="true"></span>  Готовые ответы</a></li>
            <li><a href="dialogs.html"><span class="oi oi-script" aria-hidden="true"></span>  Диалоги</a></li>
          </div>
          <div class="nav nav-sidebar">
            <li><a href="settings.html"><span class="oi oi-wrench" aria-hidden="true"></span>  Настройки</a></li>
            <li><a href="analytics.html"><span class="oi oi-bar-chart" aria-hidden="true"></span>  Статистика</a>
              <ul class="nav nav-second-level collapse">
                <li><a href="#">Second level</a></li>
              </ul>
            </li>
          </div>
        </div>
        <div data-mcs-theme="minimal-dark" class="app-content mCustomScrollbar">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="form-inline">
                <div class="btn-group btn-group-sm">
                  <button type="button" class="active btn-outline btn btn-default">Все</button>
                  <button type="button" class="btn-outline btn btn-default">Операторы</button>
                  <button type="button" class="btn-outline btn btn-default">Администраторы</button>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" placeholder="Поиск..." class="input-sm form-control">
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default btn-sm btn-outline"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                  </div>
                </div>
                <div class="pull-right">
                  <button class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать</button>
                  <button class="btn btn-sm btn-default btn-outline"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Экспорт</button>
                </div>
              </div>
            </div>
            <table class="table table-striped">
              <tr>
                <th style="width: 70px;">Статус</th>
                <th style="width: 30px;"> </th>
                <th>Логин</th>
                <th>Имя</th>
                <th>E-mail</th>
                <th>Группа</th>
                <th>Был в сети</th>
                <th></th>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                </td>
                <td><span class="label label-success">Online</span></td>
                <td>onl_admin</td>
                <td>Василий Петухов</td>
                <td>vasili@onl.com</td>
                <td>Администраторы</td>
                <td>Онлайн</td>
                <td class="td-actions"><a href="#" data-toggle="modal" data-target="#modal-edit" class="btn btn-sm btn-default btn-outline btn-round"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><a href="#" class="btn btn-sm btn-danger btn-outline btn-round"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                </td>
                <td><span class="label label-danger">Offline</span></td>
                <td>operator1</td>
                <td>Имя Фамилия</td>
                <td>operator@onlchat.com</td>
                <td>Операторы</td>
                <td>16:88, 23 декабря 2015</td>
                <td class="td-actions"><a href="#" data-toggle="modal" data-target="#modal-edit" class="btn btn-sm btn-default btn-outline btn-round"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><a href="#" class="btn btn-sm btn-danger btn-outline btn-round"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                </td>
                <td><span class="label label-danger">Offline</span></td>
                <td>operator2</td>
                <td>Имя Фамилия</td>
                <td>operator2@onlchat.com</td>
                <td>Операторы</td>
                <td>16:88, 23 декабря 2015</td>
                <td class="td-actions"><a href="#" data-toggle="modal" data-target="#modal-edit" class="btn btn-sm btn-default btn-outline btn-round"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><a href="#" class="btn btn-sm btn-danger btn-outline btn-round"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                </td>
                <td><span class="label label-danger">Offline</span></td>
                <td>operator3</td>
                <td>Имя Фамилия</td>
                <td>operator1@onlchat.com</td>
                <td>Операторы</td>
                <td>16:88, 23 декабря 2015</td>
                <td class="td-actions"><a href="#" data-toggle="modal" data-target="#modal-edit" class="btn btn-sm btn-default btn-outline btn-round"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><a href="#" class="btn btn-sm btn-danger btn-outline btn-round"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" data-size="small" data-plugin="switchery" checked>
                </td>
                <td><span class="label label-danger">Offline</span></td>
                <td>operator4</td>
                <td>Имя Фамилия</td>
                <td>operator1@onlchat.com</td>
                <td>Операторы</td>
                <td>16:88, 23 декабря 2015</td>
                <td class="td-actions"><a href="#" data-toggle="modal" data-target="#modal-edit" class="btn btn-sm btn-default btn-outline btn-round"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a><a href="#" class="btn btn-sm btn-danger btn-outline btn-round"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
              </tr>
            </table>
            <div class="panel-footer">
              <div class="pull-left">
                <p class="table-footer-info">Показано 6 из 6 записей.</p>
              </div>
              <div class="pull-right">
                <ul class="pagination">
                  <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
              <div class="pull-right">
                <div class="form-group form-inline">
                  <label>Показывать по</label>
                  <select class="form-control">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Modal-->
    <div id="modal-add" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Добавить пользователя</h4>
            <button type="button" data-dismiss="modal" class="close"><span>&times;</span></button>
            <div class="clearfix"></div>
            <div class="row modal-header-form">
              <div class="col-sm-4">
                <button class="upload-avatar">Загрузить фото...</button>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="control-label">Логин</label>
                  <input type="text" placeholder="Введите логин" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">Пароль</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="password" placeholder="Пароль" class="form-control">
                    </div>
                    <div class="col-sm-6">
                      <input type="password" placeholder="Повторите пароль" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Имя</label>
                <div class="col-sm-7">
                  <input type="text" placeholder="Введите имя" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">E-mail</label>
                <div class="col-sm-7">
                  <input type="email" placeholder="Введите почту" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Роль</label>
                <div class="col-sm-7">
                  <select class="form-control">
                    <option>Администратор</option>
                    <option>Оператор</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Статус</label>
                <div class="col-sm-7">
                  <select class="form-control">
                    <option>Активный</option>
                    <option>Неактивный						</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary">Добавить пользователя</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Modal-->
    <div id="modal-edit" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Редактировать пользователя</h4>
            <button type="button" data-dismiss="modal" class="close"><span>&times;</span></button>
            <div class="clearfix"></div>
            <div class="row modal-header-form">
              <div class="col-sm-4">
                <button class="upload-avatar">Сменить фото...</button>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="control-label">Логин</label>
                  <input type="text" placeholder="Введите логин" value="onl_chat" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">Пароль</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="password" placeholder="Пароль" class="form-control">
                    </div>
                    <div class="col-sm-6">
                      <input type="password" placeholder="Повторите пароль" class="form-control">
                    </div>
                  </div><small class="notice">Чтобы сменить пароль пользователя, введите новый.</small>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label">Имя</label>
                <div class="col-sm-7">
                  <input type="text" placeholder="Введите имя" value="Имя Фамилия" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">E-mail</label>
                <div class="col-sm-7">
                  <input type="email" placeholder="Введите почту" value="operator@gmail.com" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Роль</label>
                <div class="col-sm-7">
                  <select class="form-control">
                    <option>Администратор</option>
                    <option>Оператор</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">Статус</label>
                <div class="col-sm-7">
                  <select class="form-control">
                    <option>Активный</option>
                    <option>Неактивный						</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Закрыть</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/users.jade
doctype html
html
	head: include includes/head.jade
	body
		
		.navbar.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="#"): img(src="assets/images/logo.png" alt="onlchat")
				
				#navbar.navbar-collapse.collapse
					//form.navbar-form.navbar-left(role="search")
						.form-group
							input(type="text" placeholder="Find in contacts...").form-control
						button(type="submit").btn.btn-default Go
					
					.navbar-left
						h4.navbar-text Пользователи
					
					.navbar-left
						.btn.navbar-btn.btn-outline.btn-success(data-toggle="modal" data-target="#modal-add") <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
					
					.navbar-right
						ul.nav.navbar-nav
							li.dropdown
								a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Mark Otto <span class="caret"></span>
								ul.dropdown-menu
									li: a(href="#") Профиль
									li: a(href="#") Настройки
									li.divider
									li: a(href="#") Профиль
									
		.container-fluid
			.row
				include includes/app-sidebar.jade
				
				.app-content.mCustomScrollbar(data-mcs-theme="minimal-dark")
					.panel.panel-default
						.panel-heading
							.form-inline
								.btn-group.btn-group-sm
									button.active.btn-outline(type="button" class="btn btn-default") Все
									button.btn-outline(type="button" class="btn btn-default") Операторы
									button.btn-outline(type="button" class="btn btn-default") Администраторы
							
								.form-group
									.input-group
										input(type="text" placeholder="Поиск...").input-sm.form-control
										.input-group-btn
											button(type="submit").btn.btn-default.btn-sm.btn-outline <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									
								.pull-right
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
									button.btn.btn-sm.btn-default.btn-outline <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Экспорт
						
						table.table.table-striped
							tr
								th(style="width: 70px;") Статус
								th(style="width: 30px;") 
								th Логин
								th Имя
								th E-mail
								th Группа
								th Был в сети
								th
							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-success">Online</span>
								td onl_admin
								td Василий Петухов
								td vasili@onl.com
								td Администраторы
								td Онлайн
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator1
								td Имя Фамилия
								td operator@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator2
								td Имя Фамилия
								td operator2@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator3
								td Имя Фамилия
								td operator1@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							
							tr
								td: input(type="checkbox" data-size="small" data-plugin="switchery" checked)
								td <span class="label label-danger">Offline</span>
								td operator4
								td Имя Фамилия
								td operator1@onlchat.com
								td Операторы
								td 16:88, 23 декабря 2015
								td.td-actions
									a(href="#" data-toggle="modal" data-target="#modal-edit").btn.btn-sm.btn-default.btn-outline.btn-round <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
									a(href="#").btn.btn-sm.btn-danger.btn-outline.btn-round <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							
						.panel-footer
							.pull-left
								p.table-footer-info Показано 6 из 6 записей.
							.pull-right
									ul.pagination
										li.disabled: a(href="#"): i.fa.fa-angle-left
										li.active: a(href="#") 1
										li: a(href="#") 2
										li: a(href="#") 3
										li: a(href="#"): i.fa.fa-angle-right
							.pull-right
								.form-group.form-inline
									label Показывать по
									select.form-control
										option 10
										option 20
										option 50
										option 100

							.clearfix

		// Add Modal
		.modal.fade#modal-add
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Добавить пользователя
						button(type="button" data-dismiss="modal").close: span &times;
						.clearfix
						.row.modal-header-form
							.col-sm-4
								button.upload-avatar Загрузить фото...
							.col-sm-7
								.form-group
									label.control-label Логин
									input(type="text" placeholder="Введите логин").form-control
								.form-group
									label.control-label Пароль
									.row
										.col-sm-6
											input(type="password" placeholder="Пароль").form-control
										.col-sm-6
											input(type="password" placeholder="Повторите пароль").form-control

					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Имя
								.col-sm-7
									input(type="text" placeholder="Введите имя").form-control
							.form-group
								label.col-sm-4.control-label E-mail
								.col-sm-7
									input(type="email" placeholder="Введите почту").form-control
							.form-group
								label.col-sm-4.control-label Роль
								.col-sm-7
									select.form-control
										option Администратор
										option Оператор
							.form-group
								label.col-sm-4.control-label Статус
								.col-sm-7
									select.form-control
										option Активный
										option Неактивный						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Добавить пользователя
						
		// Add Modal
		.modal.fade#modal-edit
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title.pull-left Редактировать пользователя
						button(type="button" data-dismiss="modal").close: span &times;
						.clearfix
						.row.modal-header-form
							.col-sm-4
								button.upload-avatar Сменить фото...
							.col-sm-7
								.form-group
									label.control-label Логин
									input(type="text" placeholder="Введите логин" value="onl_chat").form-control
								.form-group
									label.control-label Пароль
									.row
										.col-sm-6
											input(type="password" placeholder="Пароль").form-control
										.col-sm-6
											input(type="password" placeholder="Повторите пароль").form-control
									small.notice Чтобы сменить пароль пользователя, введите новый.

					.modal-body
						.form-horizontal
							.form-group
								label.col-sm-4.control-label Имя
								.col-sm-7
									input(type="text" placeholder="Введите имя" value="Имя Фамилия").form-control
							.form-group
								label.col-sm-4.control-label E-mail
								.col-sm-7
									input(type="email" placeholder="Введите почту" value="operator@gmail.com").form-control
							.form-group
								label.col-sm-4.control-label Роль
								.col-sm-7
									select.form-control
										option Администратор
										option Оператор
							.form-group
								label.col-sm-4.control-label Статус
								.col-sm-7
									select.form-control
										option Активный
										option Неактивный						
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Закрыть
						button.btn.btn-primary(type="button" data-dismiss="modal") Сохранить
